{% extends "baseDoctor.html" %}

{% block title %}Doctor Page  {{ user.username }}{% endblock %}
{% block header %}Welcome Doctor {{ user.username }}{% endblock %}

{% block style %}
    .table-wrapper {
        width: 100px;
        padding: 20px;
        margin: 1% auto 1% auto;
        list-style: none;
        overflow-y: auto;
        max-height: 20em;
    }
    table{
        overflow-y: auto;
        max-height: 15em;
        margin: auto;
    }
{% endblock %}

{% block content %}
    <div class="centered">
        <h2>Your Current Patients Are ... </h2>
        <div class="table-wrapper">
            <table>
                {% for patient in patients %}
                <tr> <td>{{ patient }} </td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}