{% extends "basePatient.html" %}

{% block title %}Patient View Appointments{% endblock %}
{% block header %}Patient View Appointments{% endblock %}

{% block style %}
    h3 {
        margin: 10px;
    }

    table {
        white-space: nowrap;
        border-collapse:collapse;
        margin: 10px;
    }

    tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    td:nth-child(6) {
        background-color: #FFFFFF;
    }

    td, th {
        padding: 2px 10px;
    }

    button {
        border: 2px solid #4E94C1;
        padding: 10px 30px;
    }

    button:hover{
        background: #4E94C1;
    }

    .block {
        padding: 0px 0px 0px 0px;
        max-height: 80vh;
        margin: 1% auto 1% auto;
        text-align: center;
        list-style: none;
        overflow-y: auto;
    }

{% endblock %}

{% block content %}
    <div class="split left">
        <h3 align="center"> Scheduled </h3>
        <div class="block">

            <div>
                <table>
                    <thead>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </thead>
                    {% for app in patientAppointments %}
                    <tr>
                        <td>{{app.patient}}</td>
                        <td>{{app.doctor}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.start_time|time:"g:iA"|lower}}</td>
                        <td>{{app.end_time|time:"g:iA"|lower}}</td>
                        <td><a herf="#"><button>Cancel</button></a></td>
                    </tr>
                    {%endfor%}
                </table>
        </div>
    </div>

    <div class="split right">
        <h3 align="center">Canceled</h3>
        <div class="block">
            <table>
                <thead>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </thead>
                {% for app in canceledAppointments %}
                <tr>
                    <td>{{app.patient}}</td>
                    <td>{{app.doctor}}</td>
                    <td>{{app.date}}</td>
                    <td>{{app.start_time|time:"g:iA"|lower}}</td>
                    <td>{{app.end_time|time:"g:iA"|lower}}</td>
                    <td><a herf="#"><button>Accept</button></a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
{% endblock %}