<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Creation Page</title>
</head>
<body>
    <table>
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    <tr>
        {% for app in patientAppointments %}
        <td>{{app.patient}}</td>
        <td>{{app.doctor}}</td>
        <td>{{app.date}}</td>
        <td>{{app.start_time}}</td>
        <td>{{app.end_time}}</td>
    </tr>
    </table>
</body>
</html>